.table tr:last-child td {
  border-bottom: none;
}

.table tr th {
  font-size: 14px;
  font-weight: 600;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  padding: 10px 7px;
}

.table tr td {
  font-size: 12px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  padding: 3px 7px;
}

.table tr:last-child td {
  border-bottom: none;
}